{% extends 'share/auth_base.html' %}
{% block title %}
  Login to WishMaker Organizer
{% endblock %}

{% block content %}
  <div class="login-box">
    <div class="login-logo">
      <b>Wish Maker</b>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form method="post">
          {% csrf_token %}
          <div class="input-group mb-3">{{ form.username.label_tag }} {{ form.username }}</div>
          <div class="input-group mb-3">{{ form.password.label_tag }} {{ form.password }}</div>
          <div class="row">
            <div class="col-4"></div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
            <div class="col-4"></div>
            <!-- /.col -->
          </div>
        </form>
        <p class="mb-0">
          <p class="text-center">
            Don't have an account? <a href="{% url 'register' %}">Register</a>
          </p>
        </p>
        {% if form.errors %}
          <div class="alert alert-danger" role="alert">{{ form.non_field_errors  }}</div>
        {% endif %}
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
{% endblock %}
